In [ ]:
import pandas as pd 
import numpy as np
from sklearn.tree import DecisionTreeRegressor as dt
from sklearn.metrics import mean_absolute_error as mae
df = pd.read_csv("Loan Data.csv")

In [ ]:
df.info()
df.describe()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4595 entries, 0 to 4594
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   LoanNumber              4595 non-null   int64
 1   GLPrincipalBalance      4595 non-null   float64
 2   APR                     4595 non-null   float64
 3   AmortizedPaymentAmount  4595 non-null   float64
 4   DaysPastDue             4595 non-null   int64
 5   OriginalValue           4595 non-null   float64
 6   CreditScore             4595 non-null   int64
 7   Term                    4595 non-null   int64
 8   Mo_Term                 4595 non-null   int64
 9   Mo_Payment              4595 non-null   float64
 10  Rem_Term                4595 non-null   int64
 11  Seasoning               4595 non-null   float64
 12  Bad                     4595 non-null   int64
dtypes: float64(6), int64(7)
memory usage: 466.8 KB

   LoanNumber  GLPrincipalBalance    APR  ...  Rem_Term  Seasoning  Bad
0           1             6499.56  24.00  ...        16       0.73    1
1           3             3599.79  24.00  ...        11       0.82    1
2           4             2451.58  17.95  ...         6       0.90    1
3           5             3594.28  17.99  ...        11       0.82    0
4           6             3595.07  17.95  ...         6       0.92    0

[5 rows x 13 columns]

In [ ]:
col=df.columns
x_col=col[:-2]
x=df[x_col]
y=df.Bad

In [ ]:
dt_model=dt(random_state=1)
dt_model.fit(x,y)
predictions = dt_model.predict(x.head())
predictions

array([1., 1., 1., 0., 0.])

In [ ]:
loss=mae(y[:5], predictions)
print(f"Model Error is {loss}")

Model Error is 0.0

# 新段落